
# (Inicia) BEGIN WordPress
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
# (Fim)END WordPress

<Files "config.php">
    Order Allow,Deny
    Deny from Allow
</Files>
<Files "config">
    Order Allow,Deny
    Deny from Allow
</Files>


#Quando houver error 403 e 404 p/Mtv-Bloq.config= irá direcionar para página Home
ErrorDocument 403 http://localhost/projeto-candidatos/structure/login
ErrorDocument 404 http://localhost/projeto-candidatos/structure/login

#Bloq.os arquivos de listado
Options -Indexes

<Files ".env">
    Order Allow,Deny
    Deny from Allow
</Files>