# (Fim)END WordPress
<Files "config.php">
    Order Allow,Deny
    Deny from Allow
</Files>
#Quando houver error 403 e 404 p/Mtv-Bloq.config= irá direcionar para página Home
ErrorDocument 403 http://instrutor-trs.byethost24.com/htdocs/index.php
ErrorDocument 404 http://instrutor-trs.byethost24.com/htdocs/index.php
#Bloq.os arquivos de listado
Options -Indexes
