    @charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Corpo*/
body{
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    flex: 10 1 100vw;
}
/*Cor de fundo-Menu e Rodapé */
footer{
    background: linear-gradient(white, gray);
    background-repeat: no-repeat;
}
nav{
    background: linear-gradient(white, gray);
    background-repeat: no-repeat;
}
nav,main,footer{
    display: flex;
    margin: 10px;
}
/*Cabeçalho*/
header{
    flex: 1 1 100vw;
}
/*Menu*/
nav{
    flex: 1 1 150vw;
    align-items: flex-start; /* Align menu items to the left */
    justify-content: flex-start; /* Position menu to the left */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*Texto do menu*/
a.button{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 1%;
}
/*conteúdo*/
main{
    flex: 20 1 500px;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main section{
    width: 100%;
    height: 65vh;
    margin: 0;
}
form{
    max-width: 245px;
    margin: 0 auto;
    border-radius: 5px;
}
section form {
    margin-top: 5vh;
    top: 50%;
    left: 50%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input {
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}
/*E bordo*/
input:hover{
    background: rgb(201, 201, 201);
}
.inputBox {
    position: relative;
    margin-bottom: 0; /* Reduced spacing for compact layout */
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 5px;
}
fieldset {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

legend {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
}
/*Rodapé*/
footer{
    bottom: 0;
    width: 100;
    right: 0;
    left: 0;
    position: fixed;
    flex: 1 1 150vw;
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 907px){
    header {
        order: 0;/*Ordem de exibição 0*/
    }
    main{
        order: 1;/*Ordem de exibição 1*/
        
    }
    footer{
        order: 2;/*Ordem de exibição 3*/
    }

}
/*@media only screen and (max-width: 600px){
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
    footer{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}*/