*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(45deg, red, yellow);
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }

    .box {
        background-image: linear-gradient(45deg, yellow, red);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 10px;
    }

    a {
        margin-bottom: 10px;
        text-decoration: none;
        background-image: linear-gradient(40deg, yellow, red);
        padding: 10px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 14px;
        border-bottom: 5px solid black;
        display: inline-block;
    }

    input {
        padding: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none;
        font-size: 16px;
        width: 90%;
        border-radius: 5px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    input:focus {
        border-color: rgba(206, 81, 23, 0.952);
        box-shadow: 0 0 5px rgba(206, 81, 23, 0.5);
    }

    .inputBox {
        position: relative;
    }

    .inputUser {
        background: none;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        color: black;
        font-size: 10px;
    }

    .labelInput {
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: 5px;
    }
    .inputUser:valid~.labelInput {
        top: -20px;
        font-size: 15px;
        padding: 5px;

    }

    fieldset {
        border: 1px solid rgba(206, 81, 23, 0.952);
        border-radius: 5px;
        padding: 15px;
    }

    legend {
        border: 2px solid rgba(206, 81, 23, 0.952);
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: black;
    }

    #submit {
        background-image: linear-gradient(50deg, red, yellow);
        border-radius: 15px;
        cursor: pointer;
        border: none;
        padding: 15px;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 5px solid black;

    }

    #submit:hover {
        background-image: linear-gradient(50deg, yellow, red);
    }
    .button {
        background: linear-gradient(45deg, yellow, red);
        border: none;
        padding: 10px;
        border-radius: 15px;
        color: black;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 5px solid black;
        font-weight: bold;
        position: relative;
        margin: 10px;
    }
    div.button {
        background: linear-gradient(45deg, yellow, red);
        border: none;
        padding: 10px;
        border-radius: 15px;
        color: black;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 5px solid black;
        font-weight: bold;
        position: relative;
        margin: 10px;
    }